<p id="notice"><%= notice %></p>

<p>
  <strong>Hey:</strong>
  <%= @hoy.hey %>
</p>

<p>
  <strong>Index:</strong>
  <%= @hoy.index %>
</p>

<p>
  <strong>Hello:</strong>
  <%= @hoy.hello %>
</p>

<p>
  <strong>Bye:</strong>
  <%= @hoy.bye %>
</p>

<%= link_to 'Edit', edit_hoy_path(@hoy) %> |
<%= link_to 'Back', hoys_path %>
